name: 'CD test - feature branch'

on: 
  push:
    branches:
    - 'feature/**' 
  

jobs:
  test-feature:
    runs-on: ubuntu-latest
    environment: pre-production

    steps:
      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v5
        run: |
          echo --------------------------------
          echo ${{ steps.branch-name.outputs.current_branch }}
          echo --------------------------------
        
      - name: "Deploying"
        uses: fifsky/ssh-action@master
        with:
          command: |
            echo ${{ steps.branch-name.outputs.current_branch }}
#            cd ${{ secrets.DEPLOY_PATH }}
#            git checkout $GITHUB_REF
#            git pull origin $GITHUB_REF
          host: amongcode.com
          user: amongcod
          key: ${{ secrets.PRIVATE_KEY }}
          args: "-tt"
