name: 'CD test - feature branch'

on: 
  push:
    branches:
    - 'feature/**' 
  

jobs:
  test-feature:
    runs-on: ubuntu-latest

    steps:
      - name: "Printing"
        uses: fifsky/ssh-action@master
        with:
          command: pwd
          host: ${{ secrets.HOST }}
          user: amongcod
          key: ${{ secrets.PRIVATE_KEY}} 
          args: "-tt -vvv"