name: 'CD test - feature branch'

on: 
  push:
    branches:
    - 'feature/**' 
  

jobs:
  test-feature:
    runs-on: ubuntu-latest
    environment: Production

    steps:
      - name: "Printing"
        uses: fifsky/ssh-action@master
        with:
          command: echo path sandbox ${{ secrets.SANDBOX_PATH }}
          host: amongcode.com
          user: amongcod
          key: ${{ secrets.PRIVATE_KEY }}
          args: "-tt"
